* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body,
html {
    width: 100%;
    height: 100%;
}

.wrap {
    margin: o auto;
}

.wrap img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 10px 0;
}

.wrap h3 {
    color: red;
}